:root {
    --white : #FFFFFF;
    --black: #000000;
    --gray-blue:#5496BD;
    --blue:#669EC0;
    --light-blue:#81B3D2;
    --dark-brown:#503E33;
    --brown: #604E43;
    --light-brown: #766357;
    --ivory:#F2F2F2;
    --beige: #EBEBEB;
    --light-gray :#EEEEEE;
    --dark-grey: #A9A9A9;
    --small-text: #333333;
    --rating-text:#666666;
    --regulation: #A9A9A9;
}
@font-face {
    font-family:'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'PT Sans Bold';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*по тегам*/
body{
    max-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--white);
    display: flex;
}
header {
    /*height: 564px;*/
    height: auto;
    width: 1200px;
}
footer {
    background: rgba(255, 255, 255, 0.9); /*на странице с отелями подвал просто белый, без прозрачности. 
    ведь ничего страшного, если селектор по тегу будет с прозрачностью? главное ведь конечный результат, отображение*/
}
/*navigation*/
.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.site-navigation li{
    font-family: 'PT Sans Bold';
    line-height: 26px;
    list-style: none;
}
.site-navigation a {
    text-decoration: none;
    color: var(--black);
}
.site-navigation a:hover {
    color: var(--light-blue)
}
.site-navigation a:active {
    color: var(--black);
    opacity: 0.3;
}
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

form {
    background: var(--white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
img{
    max-width: 100%;
    height: auto;
}

footer {
    background: rgba(255, 255, 255, 0.9);
}

/*классы*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.reason {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}
.reason h3 {
    font-family:'PT Sans Bold';
    font-size: 21px;
    line-height: 21px;
}
.reason p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 21px;
}
.index-first-color {
    background-color: var(--light-blue);
    color: var(--white);
}
.index-second-color {
    background-color: var(--light-gray);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 47px;
    padding-bottom: 54px;
}
.index-second-color p {
    color: var(--small-text)
}
.rating {
    background-color: var(--ivory);
    color: var(--rating-text);
}
.filter-results li {
    text-decoration: underline;
    color: var(--black);
    opacity: 0.3;
    list-style: none;
}
.filter-results li:hover {
    text-decoration: none;
    color: var(--light-blue);
    opacity: 1;
}
.filter-results li:active {
    text-decoration: none;
    color: var(--black);
    opacity: 1;

}
/*класс для списка на главной*/
.list-between-reasons {
    text-align: center;
    list-style: none;
}
/*кнопки*/
.button-result {
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
}
.button-result:hover {
    background: var(--white);
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
}
.blue-button {
    background-color: var(--light-blue);
    color: var(--white);
    text-transform: uppercase;
}
.blue-button:hover {
    background-color: var(--blue);
    color: var(--white);
}
.blue-button:active {
    background-color: var(--gray-blue);
    color: #88b6d1;
}
.brown-button {
    background-color: var(--light-brown);
    color: var(--white);
    text-transform: uppercase;
}
.brown-button:hover {
    background-color: var(--brown);
}
.brown-button:active {
    background-color: var(--dark-brown);
    color:#857871;

}
.regulation {
    background-color: var(--ivory);
    color: var(--regulation) 
}
.regulation:hover {
    color: var(--black);
}
.regulation:focus {
    color: var(--light-blue)
}
/*названия отелей*/
.link-hotels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.link-hotels h3{
    font-family: 'PT Sans Bold';
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
}
.link-hotels h3:hover {
    color: var(--light-blue);
}
.link-hotels h3:active {
    color: var(--black);
    opacity: 0.3;
}
.link-hotels a {
    text-decoration: none;
}
.link-hotels li {
    list-style: none;
    display: flex;
    padding-top: 30px;
    padding-right: 85px;
    padding-bottom: 30px;
    padding-left: 73px;
    justify-content: space-around;
}

/*форма для поиска кнопки*/
#index_button {
    font-size: 21px;
    line-height: 26px;
    /*padding-left: 181px;
    padding-right: 181px;
    padding-top: 16;
    padding-bottom: 16;*/
}
/*список внутри причин*/
.list-between-reasons {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 82px;
}
.list-between-reasons h3 {
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 21px;
}
.list-between-reasons p {
    font-size: 14px;
    line-height: 21px;
    color: var(--small-text);
}
/*footer*/
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-footer p {
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
}
.footer-social ul {
    display: flex;
    flex-direction: row;
}
.footer-social li {
    list-style: none;
    padding-right: 6px;
}

.search-options form{
    display: flex;
    flex-direction: row;
    background-image: url(/img/background_hotels.jpg);
    /*background-repeat: no-repeat;*/
}
.filter {
    display: flex;
    flex-direction: row;
    
}
.filter span {
    padding-left: 73px;
    padding-top: 29px;
    padding-bottom: 31px;
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
}
.filter p {
    padding-top: 32px;
    margin-right: 40px;
    margin-left: 46px;
    padding-bottom: 36px;
    font-size: 12px;
    line-height: 18px;
}
.filter ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 32px;
    padding-bottom: 36px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 503px;
}
.filter #button-sort {
    padding-top: 40px;
    padding-bottom: 36px;
}
.item-index-text-above {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
.item-index-text-above span {
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
}
.item-index-text-above p {
    font-size: 14px;
    line-height: 26px;
    color: var(--small-text);
}
.item-index-text-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 24px;
}
.item-index-text-down h3 {
    font-family: 'PT Sans Bold';
    font-size: 30px;
    line-height: 24px;
}
.item-index-text-down p {
    font-size: 14px;
    color: var(--small-text);
}
.item-index-form {
    font-family: 'PT Sans Bold';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
}
.item-index-form li {
    list-style: none;
}

.option {
    display: block;
    margin-bottom: 25px;
}
.check {
    padding-left: 1em;
}
.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.check-box {
    position: absolute;
    margin-left: -1em;
    width: 1rem;
    height: 1em;
    background-image: url(/img/checkbox-off.svg) ;
}
.check-input:checked + .check-box {
    background-image: url(/img/checkbox-on.svg) ;
}
.check-input:focus + .check-box {
    background-image: url(/img/checkbox-off.svg) ;
}
.check-input:checked:focus + .check-box {
    background-image: url(/img/checkbox-on.svg) ;
}
.check-input:disabled + .check-box {
    background-image: url(/img/checkbox-on-gray.svg) ;
}
.check-input:checked:disabled + .check-box {
    background-image: url(/img/checkbox-off-gray.svg) ;
}

.social-button path {
    fill: var(--white);
}
.social-button:active path {
    fill: var(--white);
    fill-opacity: 0.3;
}
.social-button:hover rect {
    fill: var(--light-blue)
}
.social-button:hover rect,
.social-button:focus rect {
    fill: var(--blue)
}
.social-button:active rect {
    fill: var(--gray-blue)
}