:root {
    --white : #FFFFFF;
    --black: #000000;
    --gray-blue:#5496BD;
    --blue:#669EC0;
    --light-blue:#81B3D2;
    --dark-brown:#503E33;
    --brown: #604E43;
    --light-brown: #766357;
    --ivory:#F2F2F2;
    --beige: #EBEBEB;
    --light-gray :#EEEEEE;
    --dark-grey: #A9A9A9;
    --small-text: #333333;
    --rating-text:#666666;
    --regulation: #A9A9A9;
    --logo-htmlacademy-light: #BDBBBC;
    --basic-gray: #888888;
    --blue-button-opacity-text: #88b6d1;
    --brown-button-opacity-text: #857871;
    --hotels-list-border: #E5E5E5;
}
@font-face {
    font-family:'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'PT Sans Bold';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*по тегам*/
/*body{
    max-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--white);
    display: flex;
}*/
header {
    height: 56px;
}
/*navigation*/
.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px 0;
}
.site-navigation li:nth-child(2) {
    padding-left: 0;
    text-align: left;
}
.site-navigation li:nth-child(3) {
    text-align: right;
}
.site-navigation li{
    font-family: 'PT Sans Bold';
    line-height: 26px;
    list-style: none;
    width: 250px;/*проверить*/
}
.site-navigation a {
    text-decoration: none;
    color: var(--black);
}
.site-navigation a:hover {
    color: var(--light-blue)
}
.site-navigation a:active {
    color: var(--black);
    opacity: 0.3;
}
/*.page {
    height: 100%;
}*/
.page-body {
    display: flex;
    flex-direction: column;
    /*min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;*/
}
.form {
    background: var(--white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
/*классы*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}



/*кнопки*/
.button-result {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 21px;
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
}
.button-result:hover {
    background: var(--white);
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
}
.brown-button {
    background-color: var(--light-brown);
    color: var(--white);
    text-transform: uppercase;
}
.brown-button:hover {
    background-color: var(--brown);
}
.brown-button:active {
    background-color: var(--dark-brown);
    color:#857871;

}
.regulation {
    background-color: var(--ivory);
    color: var(--regulation) 
}
.regulation:hover {
    color: var(--black);
}
.regulation:focus {
    color: var(--light-blue)
}
/*форма для поиска кнопки*/
#index_button {
    font-size: 21px;
    line-height: 26px;
    border: none;
    /*padding-left: 181px;
    padding-right: 181px;
    padding-top: 16;
    padding-bottom: 16;*/
}
.search-options{
    display: flex;
    flex-direction: row;
    background-image: url(../img/background_hotels.jpg);
    background-repeat: no-repeat;
    justify-content: space-between;
}
.search-options #check-box {
    display: flex;
    flex: 119px;
    margin-left: 72px;
}
.search-options fieldset {
    border: none;
}
.search-options #range{
    margin-right: 73px;
}

.option {
    display: block;
    margin-bottom: 25px;
}
.check {
    padding-left: 5px;
}
.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.check-box {
    position: absolute;
    margin-left: -5px;
    width: 5px;
    height: 5px;
    background-image: url(/img/checkbox-off.svg) ;
}
.check-input:checked + .check-box {
    background-image: url(/img/checkbox-on.svg) ;
}
.check-input:focus + .check-box {
    background-image: url(/img/checkbox-off.svg) ;
}
.check-input:checked:focus + .check-box {
    background-image: url(/img/checkbox-on.svg) ;
}
.check-input:disabled + .check-box {
    background-image: url(/img/checkbox-on-gray.svg) ;
}
.check-input:checked:disabled + .check-box {
    background-image: url(/img/checkbox-off-gray.svg) ;
}
.social-button path {
    fill: var(--white);
}
.social-button:active path {
    fill: var(--white);
    fill-opacity: 0.3;
}
.social-button:hover rect {
    fill: var(--light-blue)
}
.social-button:hover rect,
.social-button:focus rect {
    fill: var(--blue)
}
.social-button:active rect {
    fill: var(--gray-blue)
}
.logo-htmlacademy:hover path,
.logo-htmlacademy:focus path {
    fill: var(--light-blue)
}
.logo-htmlacademy:active path{
    fill: var(--logo-htmlacademy-light)
}
.item-range {
    margin: 0;
    padding: 0;
    border: none;
}
.range-filter {
    width: 317px;
    margin-top: 26.5px;
}
.range-controls /*обертка шкалы*/{
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--black);
    border-radius: 5px;
}
.range-controls .scale /*Статичная шкала*/{
    height: 2px;
    background: var(--white);
    opacity: 0.3;
}
.range-controls .bar /*Изменяющаяся шкала*/ {
    width: 78,5%;
    height: 2px;
    color: var(--white);
    opacity: none;
}
.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 4px;
    height: 4px;
    padding: 0px;
    border: 8px solid var(--white);
    background-color: #ABABAB;
    border-radius: 50%;
}
.range-controls .toggle-min {
    top: 31px;
    left: 20px;
}
.range-controls .toggle-max {
    top: 31px;
    left: 238px;
}
.price-controls {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;

}
.filter-item legend {
    font-family: 'PT Sans Bold';
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    border: 2px solid var(--black);
    border-radius: 2px;

}
.price-controls label {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.price-controls input {
    padding-top: 5px;
    margin-top: 6,5px;
    margin-bottom: 8,5px;
    color: #283136;
    border: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--brown);
    width: 100%;
    height: auto;/*потом изменить*/
    /*height: 400vh;*./*удалить*/
    position: relative;
}
/*общие*/
body {
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    text-transform: uppercase;
}
footer {
    background: rgba(255, 255, 255, 0.9);
}
/*шапка*/
.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slider {
    background-image: url(../img/background_mountains.jpg);
    display: flex;
    justify-content: center;
    padding-top: 77px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
}
/*основной контент*/
/*текст наверху на главной*/
.item-index-text-above {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    }
.item-index-text-above span {
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 25px;
}
.item-index-text-above p {
    font-size: 14px;
    line-height: 26px;
    color: var(--small-text);
    margin-bottom: 51px;
}
/*причины*/
.reason {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.reason h3 {
    font-family:'PT Sans Bold';
    font-size: 21px;
    line-height: 21px;
}
.reason p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    color: var(--small-text)
}
.first-blue-box {
    background-color: var(--light-blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
.first-blue-box div {
    padding-top: 47px;
    padding-bottom: 54px;
    padding-right: 51px;
    padding-left: 52px;
}
.first-blue-box h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}
.first-blue-box p {
    color: var(--white);
}
.first-blue-box span{
    display: block;
    padding-bottom: 23px;
}
.second-blue-box {
    background-color: var(--light-blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
.second-blue-box h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}
.second-blue-box p {
    color: var(--white);
}
.second-blue-box div {
    padding-top: 50px;
    padding-bottom: 51px;
    padding-right: 49px;
    padding-left: 50px;
}
.second-blue-box span {
    display: block;
    padding-bottom: 23px;
}
/*класс для списка на главной*/
.list-between-reasons {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 73px;
    margin-right: 65px;
    margin-bottom: 82px;
    align-items: center;
    justify-content: space-between;
}
.list-between-reasons h3 {
    padding-bottom: 25px;
}
.index-second-color {
    background-color: var(--light-gray);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 54px;
    padding-left: 96px;
    padding-right: 77px;
}
.index-second-color h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}
.index-second-color span {
    display: block;
    padding-bottom: 23px;
}
/*текст внизу на главной*/
.item-index-text-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 24px;
    margin-top: 58px;
}
.item-index-text-down h3 {
    margin: 0;
    padding-bottom: 30px;/*уточнить*/
    font-family: 'PT Sans Bold';
    font-size: 30px;
    line-height: 24px;
}
.item-index-text-down p {
    margin: 0;
    font-size: 14px;
    color: var(--small-text);
}
/*поиск отелей*/
.index-button-form {
    background-color: var(--light-brown);
    color: var(--white);
    font-family: 'PT Sans Bold';
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 125px;
    padding-right: 124px;
}
.index-button-form:hover {
    background-color: var(--brown);
}
.index-button-form:active {
    background-color: var(--dark-brown);
    color: var(--brown-button-opacity-text);
}
.item-index-form {
    font-family: 'PT Sans Bold';
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.item-index-form ul {
    margin: 0;
    padding-left: 55px;
}
.item-index-form li {
    list-style: none;
}
.index-blue-button {
    background-color: var(--light-blue);
    color: var(--white);
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 181px;
    padding-right: 182px;
    margin-right: 55px;
    margin-bottom: 55px;
    margin-left: 55px;
}
.index-blue-button:hover {
    background-color: var(--blue);
    color: var(--white);
}
.index-blue-button:active {
    background-color: var(--gray-blue);
    color: var(--blue-button-opacity-text);
}
/*Сортировка отелей*/
.filter {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid var(--hotels-list-border);
}
.filter span {
    padding-left: 73px;
    padding-top: 29px;
    padding-bottom: 31px;
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
}
.filter p {
    padding-top: 31px;
    padding-right: 40px;
    padding-left: 46px;
    padding-bottom: 37px;
    margin: 0;
}
.filter button {
    padding-top: 40px;
    padding-bottom: 36px;
    border: none;
    background: none;
}
.filter button path:hover {
    fill: var(--black);
}
.filter button path:active {
    fill: var(--light-blue);
}
.filter ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 31px;
    margin-right: 471px;
    margin-left: 0;
    margin-bottom: 37px;
    padding: 0;
}
.filter-results li {
    text-decoration: underline;
    color: var(--black);
    opacity: 0.3;
    list-style: none;
    padding-right: 32px;
}
.filter-results li:hover {
    text-decoration: none;
    color: var(--light-blue);
    opacity: 1;
}
.filter-results li:active {
    text-decoration: none;
    color: var(--black);
    opacity: 1;
}
/*список отелей*/
.hotels-center-div {
    padding-left: 29px;
    padding-right: 522px;
    align-self: flex-start;
}
.link-hotels {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    /*justify-content: space-around;*/
}
.link-hotels li {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 71px;
    padding-bottom: 30px;
    padding-left: 73px;
    border-bottom: 1px solid var(--hotels-list-border);
}
.link-hotels h3{
    font-family: 'PT Sans Bold';
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    margin: 0;
    padding-bottom: 7px;
}
.link-hotels h3:hover {
    color: var(--light-blue);
}
.link-hotels h3:active {
    color: var(--black);
    opacity: 0.3;
}
.link-hotels a {
    text-decoration: none;
}
.link-hotels span {
    display: inline-block;
    width: 107px;
    height: 21px;
}
.hotels-button {
    display: flex;
    flex-direction: row;
    margin-top: 15.5px;
}
.hotel-info {
    display: block;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 17px;
    margin-right: 6px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    background: var(--light-blue);
}
.hotel-info:hover {
    background: var(--blue);
}
.hotel-info:active {
    background: var(--gray-blue);
    color: var(--blue-button-opacity-text);
}
.reservation-button {
    display: block;
    padding-left: 16px;
    padding-top: 3px;
    padding-right: 17px;
    padding-bottom: 3px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--light-brown);
    border: none;
}
.reservation-button:hover {
    background: var(--brown);
}
.reservation-button:active {
    background: var(--dark-brown);
    color: var(--brown-button-opacity-text)
}
.div-rating {
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
}
.rating {
    margin-top: 47px;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 15px;
    background-color: var(--ivory);
    color: var(--rating-text);
}
/*подвал*/
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
}
.main-footer section:first-child {
    font-family: "PT Sans Bold";
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-left: 111px;
    padding-right: 0;
}
.main-footer section:last-child {
    margin-right: 138px;
}
.footer-social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer-social li {
    list-style: none;
    padding-right: 6px;
}
