:root {
    --white : #FFFFFF;
    --black: #000000;
    --gray-blue:#5496BD;
    --blue:#669EC0;
    --light-blue:#81B3D2;
    --dark-brown:#503E33;
    --brown: #604E43;
    --light-brown: #766357;
    --ivory:#F2F2F2;
    --beige: #EBEBEB;
    --light-gray :#EEEEEE;
    --dark-grey: #A9A9A9;
    --text-color-index: #333333;
    --rating-text:#666666;
    --regulation: #A9A9A9;
}
@font-face {
    font-family:'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'PT Sans bold';
    src: url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*по тегам*/
body{
    min-width: 1280;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--white);
}
.main-navigation {
    line-height: 26px;
    list-style: none;
}
ul {
    list-style: none;
}
form {
    background: var(--white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 21px;
}
a {
    text-decoration: none;
}
footer {
    background: rgba(255, 255, 255, 0.9);
}
/*классы*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.reason-blue {
    background-color: var(--light-blue);
    color: var(--white);
}
.reason {
    background-color: var(--light-gray);
    color: var(--black);
}
.rating {
    background-color: var(--ivory);
    color: var(--rating-text);
}
.pick {
    text-decoration: underline;
    color: var(--black);
    opacity: 0.3;
}
.pick:hover {
    text-decoration: none;
    color: var(--light-blue);
    opacity: 1;
}
.pick:active {
    text-decoration: none;
    color: var(--black);
    opacity: 1;

}
/*кнопки*/
.button-result {
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
}
.button-result:hover {
    background: var(--white);
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 2px;
}
.blue-button {
    background-color: var(--light-blue);
    color: var(--white)
}
.blue-button:hover {
    background-color: var(--blue);
    color: var(--white)
}
.blue-button:active {
    background-color: var(--gray-blue);
    color: #88b6d1;
}
.brown-button {
    background-color: var(--light-brown);
    color: var(--white);
}
.brown-button:hover {
    background-color: var(--brown);
}
.brown-button:active {
    background-color: var(--dark-brown);
    color:#857871;

}
.regulation {
    background-color: var(--ivory);
    color: var(--regulation) 
}
.regulation:hover {
    color: var(--black);
}
.regulation:focus {
    color: var(--light-blue)
}
/*названия отелей*/
a h3 {
    color: var(--black);
}
a h3:hover {
    color: var(--light-blue);
}
a h3:active {
    color: var(--black);
    opacity: 0.3;
}
/*test*/
.subtitle {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
}